<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">@DateTime.Now.Year ©</span>
            <a href="javascript:void(0)" class="text-gray-800 text-hover-primary">Notiflow</a>
        </div>
        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
                <a href="https://www.notiflow.com.tr/" target="_blank" rel="noopener" class="text-gray-800 text-hover-primary">İletişimde Sınır Tanıma, Notiflow ile Bildirimlerini Şekillendir!</a>
            </li>
        </ul>
    </div>
</div>