<meta charset="utf-8" />

<environment include="Development">
    <title>@ViewData["Title"] | Development</title>
</environment>
<environment include="Staging">
    <title>@ViewData["Title"]  | Staging</title>
</environment>
<environment include="Production">
    <title>@ViewData["Title"]  | Notiflow</title>
</environment>

<meta name="robots" content="noindex, nofollow">
<meta name="description" content="Notiflow ile hızlı ve güvenilir bildirim yönetimi. SMS, e-posta ve anlık bildirimlerle iletişimde lider çözüm!">
<meta name="keywords" content="Bildirim Yönetimi, Notiflow API, SMS Gönderimi, E-posta Bildirimleri, Anlık Bildirimler, İletişim API, Hızlı Bildirim Çözümleri, Güvenilir Bildirim Servisi, Kişiselleştirilmiş İletişim, Entegre Bildirim Sistemi">
<meta name="author" content="Cihat Solak">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.1.1/css/all.css" integrity="sha256-sDavS/g73x8T307zVgovTicgH0L+tUxz8zanpAglqLo=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" integrity="sha256-YW7U7x59rUPZ3DWzQKbalM/9j2Cp8wapJVQPRxL4w1k=" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<link rel="shortcut icon" href="/favicon.ico" />
<link href="~/lib/plugins/custom/datatables/datatables.bundle-2.css" asp-append-version="true" rel="stylesheet" type="text/css">
<link href="~/lib/plugins/global/plugins.bundle-2.css" asp-append-version="true" rel="stylesheet" type="text/css">
<link href="~/lib/plugins/global/style.bundle-2.css" asp-append-version="true" rel="stylesheet" type="text/css">