<div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
    <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
        <img src="https://icones.pro/wp-content/uploads/2021/03/avatar-de-personne-icone-homme.png" alt="user">
    </div>
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
        <div class="menu-item px-3">
            <div class="menu-content d-flex align-items-center px-3">
                <div class="symbol symbol-50px me-5">
                    <img alt="Logo" src="https://icones.pro/wp-content/uploads/2021/03/avatar-de-personne-icone-homme.png">
                </div>
                <div class="d-flex flex-column">
                    <div class="fw-bolder d-flex align-items-center fs-5">
                        @* @User.Name() @User.Surname() *@ cihat solak
                        <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">@* @User.Role() *@ admin</span>
                    </div>
                    <a href="#" class="fw-bold text-muted text-hover-primary fs-7">@* @User.Email() *@ cihat@hotmail.com</a>
                </div>
            </div>
        </div>
        <div class="separator my-2"></div>
        <div class="menu-item px-5">
            <a href="#" class="menu-link px-5">Profilim</a>
        </div>
        <div class="menu-item px-5">
            <a href="#" class="menu-link px-5">
                <span class="menu-text">Log Kayıtları</span>
                <span class="menu-badge">
                    <span class="badge badge-light-danger badge-circle fw-bolder fs-7">3</span>
                </span>
            </a>
        </div>
        <div class="menu-item px-5">
            <a href="#" class="menu-link px-5">Durumlar</a>
        </div>
        <div class="separator my-2"></div>
        <div class="menu-item px-5 my-1">
            <a href="#" class="menu-link px-5">Hesap Ayarları</a>
        </div>
        <div class="separator my-2"></div>
        <div class="menu-item px-5">
            <form asp-controller="Authentication" asp-action="Logout" method="post" id="logout-form">
                <a class="menu-link" onclick="document.getElementById('logout-form').submit();">Çıkış Yap</a>
            </form>
        </div>
    </div>
</div>